html {
    overflow-y: scroll;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

/*画面サイズが1024px以上のとき*/
@media screen and (min-width:1024px){
    
body{
    width: 100%;
    height: 100%;
    /* background-color: pink */
}

/*アニメーション要素のスタイル*/
.animation{
	opacity : 0;
	transition:1s;
	transform: translateY(50px);
}
/*アニメーション要素までスクロールした時のスタイル*/
.active{
	opacity: 1;
	transform: translateY(0);
}

#gallery .mix{
    display: none;
    }

.header_wrapper{
    width: 150px;
}

.header {
    width: 120px;
    height: 100%;
    background-color: #014750;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.header_logo{
    height: 33%;
    transition: 0.3s;
}

.header_logo:hover{
    transform: scale(1.05);
}

.header_logo img{
    height: 100%;
}

.header_menu {
    margin: 50px 0 50px 0;
}

.header_menu a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.header_contact{
    font-family: 'Comfortaa', cursive;
	font-weight: 100;
	letter-spacing: 1px;
	text-align: center;
	font-size: 12px;
	height: auto;
	padding: 8px 5px 7px 5px;
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	display: flex;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    border-radius: 3px;
    transition: 0.3s;
}

.header_contact:hover{
    font-family: 'Comfortaa', cursive;
	font-weight: 100;
	letter-spacing: 1px;
	text-align: center;
	font-size: 12px;
	height: auto;
	padding: 8px 5px 7px 5px;
	background-color: rgba(255, 255, 255, 0.8);
	color: #014750;
	display: flex;
	align-items: center;
	border: 1px solid rgba(1, 71, 80, 0.80);
    margin-top: 30px;
    border-radius: 3px;
}


.header_menu a::before {
    content: "";
    background-image: url(../images/about.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-top;
    margin: 0 3px 0 0px;
    transition: 0.2s;
}

.works_icon a::before {
    content: "";
    background-image: url(../images/works.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-top;
    margin: 0 3px 0 0px;
    transition: 0.2s;
}


.header_menu a:hover::before{
    content: "";
    background-image: url(../images/about_hover.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-top;
    margin: 0 3px 0 0px;
}

.works_icon a:hover::before{
    content: "";
    background-image: url(../images/works_hover.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-top;
    margin: 0 3px 0 0px;
}

.current-page a {
    color: #F0DB37;
}
.current-aboutpage a {
    color: #F0DB37;
}

.current-aboutpage a::before {
    content: "";
    background-image: url(../images/about_hover.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-top;
    margin: 0 3px 0 0px;
}

.current-page a::before {
    content: "";
    background-image: url(../images/works_hover.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-top;
    margin: 0 3px 0 0px;
}

.header_menu a:hover {
    color: #F0DB37;
    font-family: 'Roboto', sans-serif;
}

.sns_icon {
    margin: 10px 0 0 0;
    transition: 0.3s;
}

.sns_icon img {
    width: 30px;
    height: 30px;
}

.sns_icon:hover{
    transform: scale(1.2)rotate(10deg);
}

.wrap {
    height: 100%;
    width: 100%;
    display: flex;
}

/* works.html */

.works_main {
    width: 100%;
    margin: 50px 50px 50px 170px;
}

.works_title {
    font-size: 230px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0 25px 25px 25px;
    color: #014750;
    display: flex;
    justify-content: end;
}
.works_category_wrap {
    display: flex;
    justify-content: flex-end;
}

.works_category {
    width: 450px;
    margin: 25px;
    display: flex;
    justify-content: space-between;
}

.filter  {
    color: #014750;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
}

.works_category p{
    width: 70px;
    padding: 10px;
    background-color: #fdfdfd;
    text-align: center;
    border: 1px solid #014750 ;
    border-radius: 50px;
    transition: 0.3s;
}
.works_category p:hover{
    width: 70px;
    padding: 10px;
    background-color: #014750;
    text-align: center;
    border-radius: 50px;
    box-shadow: none;
}

.works_category p::after{
    content: "";
    background-image: url(../images/filter.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-bottom;
    margin: 0 0px 0 5px;
    transition: 0.3s;
}

.works_category p:hover::after{
    content: "";
    background-image: url(../images/filter_hover.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-bottom;
    margin: 0 0px 0 5px;
}

.works_category a:hover{
    color: white;
}

.filter:visited{
    color: #014750;
}

.works_list img {
    width: 100%;
    -webkit-user-drag: none;
}

.works_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 15%;
    margin: 25px;
    /* transition: 0.3s; */
    /* これをつけると変な挙動になる */
}

.works_menu h3 {
    font-size: 15px;
    color: #014750;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

/* .works_menu:hover {
    transform: scale(1.1);
} */

.works_hover{
    transition: 0.3s;
}

.works_hover:hover {
    transform: scale(1.1)rotate(10deg);
}


/* about.html */
.about_main {
    width: 100%;
    margin: 50px 50px 50px 170px;
}

.about_title {
    font-size: 230px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0px 0 50px 0;
    color: #014750;
    display: flex;
    justify-content: end;
}

.profile img{
    width: 90%;
}

.profile {
    width: 75vw;
    height: 423px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
}


.profile_txt h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0 0 20px 0;
    color: #014750;
    letter-spacing: 0.06em;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.profile_txt {
    width: 65%;
    font-weight: 400;
    margin: 50px 0 50px 0;
    margin: 3px 0 3px 0;
    overflow: auto;
    height: 90%;
    color: #4A4A4A;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.06em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile_txt_p{
    font-size: 16px;
    padding: 7px;
    font-weight: 400;
    line-height:25px;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.06em;
}

.profile_word{
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.06em;
    line-height: 2.2;
}

.name{
    font-weight: 500;
}

.profile_skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    margin: 0 auto;
}

.profile_skill h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #014750;
    margin: 80px 0 10px 0;
}

.profile_skill_list{
    width: 75vw;
    display: flex;
    justify-content: center;
}

hr {
    color: #ddd;
    size: 5px;
}

.skill img{
    width: 75px;
    margin: 50px;
}

.profile_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.profile_contact h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #014750;
    margin: 80px 0 10px 0;
}

.profile_contact_list{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact_sns img{
    width: 75px;
    margin: 50px;
    transition: 0.3s;
}

.contact_text{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10px 0 10px 0;
    text-align: center;
    letter-spacing: 0.1em;
}

.contact_sns img:hover{
    transform: translateY(-15px)
}
.address_wrap{
    margin: 50px 0 50px 0;
}

.address{
    padding: 10px;
    font-size: 16px;
}

/* works_style */

.works_title_list{
    width: 60vw;
    margin: 0 auto;
}

.works_title_category{
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 20px 0 20px 0;
    font-weight: 500;
    color: #014750;
    letter-spacing: 3px;
}

.works_title_name{
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    color: #014750;
    letter-spacing: 1px;
}

.works_concept{
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 20px 0 20px 0;
    font-weight: 500;
    color: #014750;
    letter-spacing: 3px;
}

.works_concept_text{
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    color: hsl(187, 98%, 16%);
    letter-spacing: 1px;
    line-height: 30px;
    max-width: 1200px;
}

.works_concept_sub{
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 50px 0 50px 0;
    font-weight: 500;
    color: #014750;
    letter-spacing: 3px;
}

.works_img{
    width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.works_img img{
    width: 90%;
}

.works_skill_list{
    width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.works_skill img{
    max-width: 60PX;
    width: 60%;
    margin: 30px;
}

.works_mv img{
    width: 100%;
}

.works_mv_cafe img{
    width: 50%;
}

.img50{
    width: 50%;
    margin: 0 auto;
}

.img70{
    width: 70%;
    margin: 0 auto;
}

.works_concept_text a{
    color: #014750;
    transition: 0.2s;
}

.works_concept_text a:hover{
    color: #a9a9a9;
}

.works_concept_text a::after{
    content: "";
    background-image: url(../images/blank.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    margin: 0 0 0 5px;
    transition: 0.2s;
}

.works_concept_text a:hover::after{
    content: "";
    background-image: url(../images/blank_hover.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    margin: 0 0 0 5px;
}

.yamanote img{
    display: block;
    border: 1px solid #014750;
}

.youtube_link{
    width: 70%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
}

/* map */
.map-wrap {
    max-width: 75vw;
    height: 400px;
    background-color: #014750;
    margin: 0 auto;
    position: relative;
    padding-top: (465 / 1440 * 100%);
}
.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

}

/*画面サイズが481px以上1024px未満のとき*/
@media screen and (min-width:481px) and (max-width:1023px){

body{
    width: 100%;
    height: 100%;
    /* background-color: pink */
}

/*アニメーション要素のスタイル*/
.animation{
	opacity : 0;
	transition:1s;
	transform: translateY(50px);
}
/*アニメーション要素までスクロールした時のスタイル*/
.active{
	opacity: 1;
	transform: translateY(0);
}

#gallery .mix{
    display: none;
    }

.header_wrapper{
    width: 150px;
}

.header {
    width: 120px;
    height: 100%;
    background-color: #014750;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.header_logo{
    height: 33%;
    transition: 0.3s;
}

.header_logo:hover{
    transform: scale(1.05);
}

.header_logo img{
    height: 100%;
}

.header_menu {
    margin: 50px 0 50px 0;
}

.header_menu a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.header_contact{
    font-family: 'Comfortaa', cursive;
	font-weight: 100;
	letter-spacing: 1px;
	text-align: center;
	font-size: 12px;
	height: auto;
	padding: 8px 5px 7px 5px;
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	display: flex;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    border-radius: 3px;
    transition: 0.3s;
}

.header_contact:hover{
    font-family: 'Comfortaa', cursive;
	font-weight: 100;
	letter-spacing: 1px;
	text-align: center;
	font-size: 12px;
	height: auto;
	padding: 8px 5px 7px 5px;
	background-color: rgba(255, 255, 255, 0.8);
	color: #014750;
	display: flex;
	align-items: center;
	border: 1px solid rgba(1, 71, 80, 0.80);
    margin-top: 30px;
    border-radius: 3px;
}


.header_menu a::before {
    content: "";
    background-image: url(../images/about.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-top;
    margin: 0 3px 0 0px;
    transition: 0.2s;
}

.works_icon a::before {
    content: "";
    background-image: url(../images/works.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-top;
    margin: 0 3px 0 0px;
    transition: 0.2s;
}


.header_menu a:hover::before{
    content: "";
    background-image: url(../images/about_hover.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-top;
    margin: 0 3px 0 0px;
}

.works_icon a:hover::before{
    content: "";
    background-image: url(../images/works_hover.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-top;
    margin: 0 3px 0 0px;
}

.current-page a {
    color: #F0DB37;
}
.current-aboutpage a {
    color: #F0DB37;
}

.current-aboutpage a::before {
    content: "";
    background-image: url(../images/about_hover.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-top;
    margin: 0 3px 0 0px;
}

.current-page a::before {
    content: "";
    background-image: url(../images/works_hover.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-top;
    margin: 0 3px 0 0px;
}

.header_menu a:hover {
    color: #F0DB37;
    font-family: 'Roboto', sans-serif;
}

.sns_icon {
    margin: 10px 0 0 0;
    transition: 0.3s;
}

.sns_icon img {
    width: 30px;
    height: 30px;
}

.sns_icon:hover{
    transform: scale(1.2)rotate(10deg);
}

.wrap {
    height: 100%;
    width: 100%;
    display: flex;
}

/* works.html */

.works_main {
    width: 100%;
    margin: 50px 50px 50px 150px;
}

.works_title {
    font-size: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0 25px 25px 25px;
    color: #014750;
    display: flex;
    justify-content: end;
}
.works_category_wrap {
    display: flex;
    justify-content: flex-end;
}

.works_category {
    width: 450px;
    margin: 25px;
    display: flex;
    justify-content: space-between;
}

.filter  {
    color: #014750;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
}

.works_category p{
    width: 70px;
    padding: 10px;
    background-color: #fdfdfd;
    text-align: center;
    border: 1px solid #014750 ;
    border-radius: 50px;
    transition: 0.3s;
}
.works_category p:hover{
    width: 70px;
    padding: 10px;
    background-color: #014750;
    text-align: center;
    border-radius: 50px;
    box-shadow: none;
}

.works_category p::after{
    content: "";
    background-image: url(../images/filter.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-bottom;
    margin: 0 0px 0 5px;
    transition: 0.3s;
}

.works_category p:hover::after{
    content: "";
    background-image: url(../images/filter_hover.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    vertical-align: text-bottom;
    margin: 0 0px 0 5px;
}

.works_category a:hover{
    color: white;
}

.filter:visited{
    color: #014750;
}

.works_list img {
    width: 100%;
    -webkit-user-drag: none;
}

.works_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 24%;
    margin: 10px;
    /* transition: 0.3s; */
    /* これをつけると変な挙動になる */
}

.works_menu h3 {
    font-size: 12px;
    color: #014750;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

/* .works_menu:hover {
    transform: scale(1.1);
} */

.works_hover{
    transition: 0.3s;
}

.works_hover:hover {
    transform: scale(1.1)rotate(10deg);
}


/* about.html */
.about_main {
    width: 100%;
    margin: 50px 30px 50px 150px;
}

.about_title {
    font-size: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0px 0 50px 0;
    color: #014750;
    display: flex;
    justify-content: end;
}

.profile_img{
    width: 50%;
    margin: 30px;
}

.profile img{
    width: 100%;
}

.profile {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1500px;
}


.profile_txt h2{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0 0 10px 0;
    color: #014750;
    letter-spacing: 0.06em;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.profile_txt {
    width: 70%;
    font-weight: 400;
    margin: 50px 0 50px 0;
    margin: 1px 0 1px 0;
    height: 90%;
    color: #4A4A4A;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile_txt_p{
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
    line-height:18px;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.06em;
}

.profile_word{
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8;
}

.name{
    font-weight: 500;
}

.profile_skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    margin: 0 auto;
}

.profile_skill h2{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #014750;
    margin: 40px 0 10px 0;
}

.profile_skill_list{
    width: 75vw;
    display: flex;
    justify-content: center;
}

hr {
    color: #ddd;
    size: 5px;
    margin: 10px 0;
}

.skill img{
    width: 40px;
    margin: 20px;
}

.profile_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.profile_contact h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #014750;
    margin: 40px 0 10px 0;
}

.profile_contact_list{
    width: 75%;
    display: flex;
    justify-content: center;
}

.contact_sns img{
    width: 40px;
    margin: 20px;
    transition: 0.3s;
}

.contact_text{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10px 0 10px 0;
    text-align: center;
    letter-spacing: 0.1em;
}

.contact_sns img:hover{
    transform: translateY(-15px)
}
.address_wrap{
    margin: 50px 0 50px 0;
}

.address{
    padding: 10px;
    font-size: 16px;
}



/* works_style */

.works_title_list{
    width: 60vw;
    margin: 0 auto;
}

.works_title_category{
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 20px 0 20px 0;
    font-weight: 500;
    color: #014750;
    letter-spacing: 3px;
}

.works_title_name{
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    color: #014750;
    letter-spacing: 1px;
}

.works_concept{
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 20px 0 20px 0;
    font-weight: 500;
    color: #014750;
    letter-spacing: 3px;
}

.works_concept_text{
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    color: hsl(187, 98%, 16%);
    letter-spacing: 1px;
    line-height: 30px;
    max-width: 1200px;
}

.works_concept_sub{
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 50px 0 50px 0;
    font-weight: 500;
    color: #014750;
    letter-spacing: 3px;
}

.works_img{
    width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.works_img img{
    width: 90%;
}

.works_skill_list{
    width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.works_skill img{
    max-width: 60px;
    width: 60%;
    margin: 30px;
}

.works_mv img{
    width: 100%;
}

.works_mv_cafe img{
    width: 50%;
}

.img50{
    width: 50%;
    margin: 0 auto;
}

.img70{
    width: 70%;
    margin: 0 auto;
}

.works_concept_text a{
    color: #014750;
    transition: 0.2s;
}

.works_concept_text a:hover{
    color: #a9a9a9;
}

.works_concept_text a::after{
    content: "";
    background-image: url(../images/blank.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    margin: 0 0 0 5px;
    transition: 0.2s;
}

.works_concept_text a:hover::after{
    content: "";
    background-image: url(../images/blank_hover.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    margin: 0 0 0 5px;
}

.yamanote img{
    display: block;
    border: 1px solid #014750;
}

.youtube_link{
    width: 70%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
}

/* map */
.map-wrap {
    max-width: 75vw;
    height: 400px;
    background-color: #014750;
    margin: 0 auto;
    position: relative;
    padding-top: (465 / 1440 * 100%);
}
.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
}

/*画面サイズが480px以下のとき*/
@media screen and (max-width:480px){
    body{
        width: 100%;
        height: 100%;
        /* background-color: pink */
    }
    
    /*アニメーション要素のスタイル*/
    .animation{
        opacity : 0;
        transition:1s;
        transform: translateY(50px);
    }
    /*アニメーション要素までスクロールした時のスタイル*/
    .active{
        opacity: 1;
        transform: translateY(0);
    }
    
    #gallery .mix{
        display: none;
        }
    
    .header_wrapper{
        width: 150px;
    }
    
    .header {
        width: 100%;
        height: 70px;
        background-color: #014750;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1;
    }
    .header_logo{
        transition: 0.3s;
    }
    
    .header_logo:hover{
        transform: scale(1.05);
    }
    
    .header_logo img{
        width: 30px;
        transform: rotate(270deg);
    }
    
    .header_menu {
        margin: 50px 0 50px 0;
    }

    .header_nav{
        display: none;
    }

    .sns{
        display: none;
    }
    
    .header_menu a{
        color: white;
        text-decoration: none;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 3px;
    }
    
    .header_contact{
        font-family: 'Comfortaa', cursive;
        font-weight: 100;
        letter-spacing: 1px;
        text-align: center;
        font-size: 12px;
        height: auto;
        padding: 8px 5px 7px 5px;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        display: flex;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.5);
        margin-top: 30px;
        border-radius: 3px;
        transition: 0.3s;
        display: none;
    }
    
    .header_contact:hover{
        font-family: 'Comfortaa', cursive;
        font-weight: 100;
        letter-spacing: 1px;
        text-align: center;
        font-size: 12px;
        height: auto;
        padding: 8px 5px 7px 5px;
        background-color: rgba(255, 255, 255, 0.8);
        color: #014750;
        display: flex;
        align-items: center;
        border: 1px solid rgba(1, 71, 80, 0.80);
        margin-top: 30px;
        border-radius: 3px;
    }
    
    
    .header_menu a::before {
        content: "";
        background-image: url(../images/about.png);
        width: 30px;
        height: 30px;
        display: inline-block;
        background-size: contain;
        vertical-align: text-top;
        margin: 0 7px 0 0px;
        transition: 0.2s;
    }
    
    .works_icon a::before {
        content: "";
        background-image: url(../images/works.png);
        width: 30px;
        height: 30px;
        display: inline-block;
        background-size: contain;
        vertical-align: text-top;
        margin: 0 7px 0 0px;
        transition: 0.2s;
    }
    
    
    .header_menu a:hover::before{
        content: "";
        background-image: url(../images/about_hover.png);
        width: 30px;
        height: 30px;
        display: inline-block;
        background-size: contain;
        vertical-align: text-top;
        margin: 0 7px 0 0px;
    }
    
    .works_icon a:hover::before{
        content: "";
        background-image: url(../images/works_hover.png);
        width: 30px;
        height: 30px;
        display: inline-block;
        background-size: contain;
        vertical-align: text-top;
        margin: 0 7px 0 0px;
    }
    
    .current-page a {
        color: #F0DB37;
    }
    .current-aboutpage a {
        color: #F0DB37;
    }
    
    .current-aboutpage a::before {
        content: "";
        background-image: url(../images/about_hover.png);
        width: 15px;
        height: 15px;
        display: inline-block;
        background-size: contain;
        vertical-align: text-top;
        margin: 0 3px 0 0px;
    }
    
    .current-page a::before {
        content: "";
        background-image: url(../images/works_hover.png);
        width: 15px;
        height: 15px;
        display: inline-block;
        background-size: contain;
        vertical-align: text-top;
        margin: 0 3px 0 0px;
    }
    
    .header_menu a:hover {
        color: #F0DB37;
        font-family: 'Roboto', sans-serif;
    }
    
    .sns_icon {
        transition: 0.3s;
    }
    
    .sns_icon img {
        width: 45px;
        height: 45px;
        text-align: center;
    }
    
    .sns_icon:hover{
        transform: scale(1.2)rotate(10deg);
    }
    
    .wrap {
        height: 100%;
        width: 100%;
        display: flex;
    }
    
    /* works.html */
    
    .works_main {
        width: 90%;
        margin: 20px;
    }
    
    .works_title {
        font-size: 55px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        margin: 90px 15px 15px 15px;
        color: #014750;
        display: flex;
        justify-content: end;
    }
    .works_category_wrap {
        display: flex;
        justify-content: flex-end;
    }
    
    .works_category {
        width: 350px;
        margin: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .works_category li{
        margin: 3px;
    }
    
    .filter  {
        color: #014750;
        font-family: 'Roboto', sans-serif;
        font-size: 8px;
        font-weight: 100;
        text-decoration: none;
    }
    
    .works_category p{
        width: 55px;
        padding: 10px;
        background-color: #fdfdfd;
        text-align: center;
        border: 1px solid #014750 ;
        border-radius: 50px;
        transition: 0.3s;
    }
    .works_category p:hover{
        width: 55px;
        padding: 10px;
        background-color: #014750;
        text-align: center;
        border-radius: 50px;
        box-shadow: none;
    }
    
    .works_category p::after{
        content: "";
        background-image: url(../images/filter.png);
        width: 12px;
        height: 12px;
        display: inline-block;
        background-size: contain;
        vertical-align: text-bottom;
        margin: 0 0px 0 5px;
        transition: 0.3s;
    }
    
    .works_category p:hover::after{
        content: "";
        background-image: url(../images/filter_hover.png);
        width: 12px;
        height: 12px;
        display: inline-block;
        background-size: contain;
        vertical-align: text-bottom;
        margin: 0 0px 0 5px;
    }
    
    .works_category a:hover{
        color: white;
    }
    
    .filter:visited{
        color: #014750;
    }
    
    .works_list img {
        width: 100%;
        -webkit-user-drag: none;
    }
    
    .works_list {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .works_menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 35%;
        margin: 10px;
        /* transition: 0.3s; */
        /* これをつけると変な挙動になる */
    }
    
    .works_menu h3 {
        font-size: 12px;
        color: #014750;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 300;
    }
    
    /* .works_menu:hover {
        transform: scale(1.1);
    } */
    
    .works_hover{
        transition: 0.3s;
    }
    
    .works_hover:hover {
        transform: scale(1.1)rotate(10deg);
    }
    
    
    /* about.html */
    .about_main {
        width: 100%;
        margin: 50px 15px 50px 15px;
        padding-top: 70px;
    }
    
    .about_title {
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        margin: 0px 0 10px 0;
        color: #014750;
        display: flex;
        justify-content: end;
    }

    .profile_img{
        width: 60%;
        margin: 20px;
    }
    
    .profile img{
        width: 100%;
    }
    
    .profile {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 1500px;
    }
    
    .profile_txt h2{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        margin: 0 0 10px 0;
        color: #014750;
        letter-spacing: 0.06em;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    
    .profile_txt {
        width: 80%;
        font-weight: 400;
        margin: 50px 0 50px 0;
        margin: 1px 0 1px 0;
        color: #4A4A4A;
        font-family: 'Noto Sans JP', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .profile_txt_p{
        font-size: 10px;
        padding: 3px;
        font-weight: 400;
        line-height:15px;
        font-family: 'Noto Sans JP', sans-serif;
        letter-spacing: 2px;
    }
    
    .profile_word{
        font-size: 8px;
        font-family: 'Noto Sans JP', sans-serif;
        line-height: 1.6;
        margin-top: 7px;
    }
    
    .name{
        font-weight: 500;
    }
    
    .profile_skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        margin: 0 auto;
    }
    
    .profile_skill h2{
        font-size: 28px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        color: #014750;
        margin: 40px 0 10px 0;
    }
    
    .profile_skill_list{
        width: 75%;
        display: flex;
        justify-content: center;
    }
    
    hr {
        color: #ddd;
        size: 5px;
        margin: 10px 0;
    }
    
    .skill img{
        width: 30px;
        margin: 10px;
    }
    
    .profile_contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        margin: 0 auto;
    }
    
    .profile_contact h2{
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        color: #014750;
        margin: 40px 0 10px 0;
    }
    
    .profile_contact_list{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    
    .contact_sns img{
        width: 30px;
        margin: 20px;
        transition: 0.3s;
    }
    
    .contact_text{
        font-size: 10px;
        font-weight: 300;
        font-family: 'Noto Sans JP', sans-serif;
        margin: 10px 0 10px 0;
        text-align: center;
        letter-spacing: 0.1em;
        line-height: 16px;
    }
    
    .contact_sns img:hover{
        transform: translateY(-15px)
    }
    .address_wrap{
        margin: 50px 0 50px 0;
    }
    
    .address{
        font-size: 12px;
    }
    
    
    
    /* works_style */
    
    .works_title_list{
        width: 85%;
        margin: 0 auto;
    }
    
    .works_title_category{
        font-size: 35px;
        font-family: 'Noto Sans JP', sans-serif;
        margin: 20px 0 20px 0;
        padding-top: 80px;
        font-weight: 500;
        color: #014750;
        letter-spacing: 3px;
    }
    
    .works_title_name{
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 300;
        color: #014750;
        letter-spacing: 1px;
    }
    
    .works_concept{
        font-size: 25px;
        font-family: 'Noto Sans JP', sans-serif;
        margin: 20px 0 20px 0;
        font-weight: 500;
        color: #014750;
        letter-spacing: 3px;
    }
    
    .works_concept_text{
        font-size: 14px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 300;
        color: hsl(187, 98%, 16%);
        letter-spacing: 1px;
        line-height: 30px;
        max-width: 1200px;
    }
    
    .works_concept_sub{
        font-size: 30px;
        font-family: 'Noto Sans JP', sans-serif;
        margin: 50px 0 50px 0;
        font-weight: 500;
        color: #014750;
        letter-spacing: 3px;
    }
    
    .works_img{
        width: 60vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    .works_img img{
        width: 90%;
    }
    
    .works_skill_list{
        width: 60vw;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
    }
    
    .works_skill img{
        max-width: 60px;
        width: 60%;
        margin: 30px;
    }
    
    .works_mv img{
        width: 100%;
    }
    
    .works_mv_cafe img{
        width: 50%;
    }
    
    .img50{
        width: 50%;
        margin: 0 auto;
    }
    
    .img70{
        width: 70%;
        margin: 0 auto;
    }
    
    .works_concept_text a{
        color: #014750;
        transition: 0.2s;
    }
    
    .works_concept_text a:hover{
        color: #a9a9a9;
    }
    
    .works_concept_text a::after{
        content: "";
        background-image: url(../images/blank.png);
        width: 20px;
        height: 20px;
        display: inline-block;
        background-size: contain;
        vertical-align: middle;
        margin: 0 0 0 5px;
        transition: 0.2s;
    }
    
    .works_concept_text a:hover::after{
        content: "";
        background-image: url(../images/blank_hover.png);
        width: 20px;
        height: 20px;
        display: inline-block;
        background-size: contain;
        vertical-align: middle;
        margin: 0 0 0 5px;
    }
    
    .yamanote img{
        display: block;
        border: 1px solid #014750;
    }
    
    .youtube_link{
        width: 70%;
        display: block;
        margin: 0 auto;
        aspect-ratio: 16 / 9;
    }
    
    /* map */
    .map-wrap {
        max-width: 75vw;
        height: 400px;
        background-color: #014750;
        margin: 0 auto;
        position: relative;
        padding-top: (465 / 1440 * 100%);
    }
    .map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    }